@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-size:'Montserrat';
}

.container {
    max-width:1250px;
    margin: auto;
    border:2px solid white
}
