@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-size:'Montserrat';
}

.container {
    max-width:1250px;
    margin: auto;
}

.footer-container {
    max-width: 1005px;    
    margin: auto;
}
