.header-main {
    background:url(../img/bg_img.jpg) no-repeat ;
    height:740px;
    max-width:1921px;
    margin: auto;
    
    &__wrapper {
        padding-top: 28px;
        @include flex(0px,flex-end,row)
    }
    img {
    width: 312px;
    height:128px;
    }
}

.header-top {
    padding-top:14px;
}

.header-top-wrapper {
    @include flex(0,space-between,row);
    color:$primary_color;
    font-size:$smallest-font;
    &__left {
        @include flex(66px,stretch,row);
    
    select {
        background: transparent;
        color:$primary_color;
    }
    }

    &__right {
        @include flex(66px,stretch,row);
    }
}

.header-center {
    padding-top:42px;    
}

.header-center-wrapper {
    @include flex(0,space-between,row);
    color:$primary_color;
    font-size:$smallest-font;

    &__left {
    @include flex(13px,stretch,row);

    .burger-btn {
        width:30px;
        height:30px;  
        @include flex(5px,center,column);
    }

    hr {
    height:4px;
    width:26px;
    background-color: white;
    }

}
    &__middle {
    img {
    width: 272px;
    height: 73px;
    }
    }

    &__right {
    @include flex (26px,stretch,row);
    img {
    height:30px;
    width:30px;  
    }
    }
}

.header-middle {
    padding-top:47px;
}

.nav-wrapper-list {
    font-size:$middle-font;
    color:$primary_color;
    @include flex(0,space-between,row);
    li {
        list-style: none;
    }
}

h1 {
    font-weight: 800;
    font-size: 64px;
    line-height: 100%;
}

.header-bottom {
    padding-top:90px;
}

.header-bottom-wrapper {
    @include flex (0,space-between,row);
    &__left {
    color: $primary_color;
    p {
    font-weight: 400;
    font-size:$bigger-font;
    line-height: 100%;
    letter-spacing: 3%;
    margin-top:18px;
    }
    }

    &__right {
    img {
        width:11px;
        height:111px;
    }  
}
}

