.header {
background-color: black;
}

.header-main {
    background:url(../img/bg_img.jpg) no-repeat ;
    height:740px;
    max-width:1921px;
    margin: auto;

    &__wrapper {
        padding-top: 28px;
        @include flex(0px,flex-end,row)
    }
}

.header-top {
    padding-top:14px;
}

.header-top-wrapper {
    @include flex(0,space-between,row);
    color:$primary_color;
    font-size:$smallest-font;
    &__left {
        @include flex(66px,stretch,row);
    
    select {
        background: transparent;
        color:$primary_color;
    }
    }

    &__right {
        @include flex(66px,stretch,row);
    }
}

.header-center {
    padding-top:42px;
    img[alt="reginox-responsive"] {
    width: 312px;
    height:128px;
    display: none;
    }     
}


.header-center-wrapper {
    @include flex(0,space-between,row);
    color:$primary_color;
    font-size:$smallest-font;

    &__left {
    @include flex(13px,stretch,row);

    span:last-child {
        display: none;
    }

    .burger-btn {
        width:30px;
        height:30px;  
        @include flex(5px,center,column);
    }

    hr {
    height:4px;
    width:26px;
    background-color: white;
    }

}
    &__middle {
    img {
    width: 272px;
    height: 73px;
    }
    }

    &__right {
    @include flex (26px,stretch,row);
    img {
    height:30px;
    width:30px;  
    }
    }
}

.header-middle {
    padding-top:47px;
}

.nav-wrapper-list {
    font-size:$middle-font;
    color:$primary_color;
    @include flex(0,space-between,row);
    li {
        list-style: none;
    }
}

h1 {
    font-weight: 800;
    font-size: 64px;
    line-height: 100%;
}

.header-bottom {
    padding-top:130px;
}

.header-bottom-wrapper {
    @include flex (0,space-between,row);
    &__left {
    color: $primary_color;
    p {
    font-weight: 400;
    font-size:$bigger-font;
    line-height: 100%;
    letter-spacing: 3%;
    margin-top:18px;
    }
    }

    &__right {
    img {
        
        width:11px;
        height:111px;
    }  
}
}

// section

.section-main {
    margin:132px 0 130px;
}


h2 {
    font-weight: 700;
    font-size:$biggest-font;
    color: $secondary-color;
}

.section-main-wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:$biggest-font;
    margin-top: 82px;

    &__cards {
        img {
        width: 383px;
        height:440px;
        }
    }

    &__cards--differ {
        background: rgba(173, 33, 49, 1);
        img {
        width:383px;
        height:380px; 
        }

        .bottom {
        display: flex;
        align-items: center;
        padding: 20px 34px;
        gap:23px;
        
        img {
        width: 30px;
        height:30px;
        }
        
        span {
        font-weight:400;
        font-size:$smallest-font;
        color: rgba(236, 236, 236, 1);
        }
        }
    }

}


// section article 

.section-article {
    margin-top:60px;
    &__wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:50px;
    &__cards {
    background: rgba(236, 236, 236, 1);
    padding:58px 20px 37px 21px;
    
    b {
    display:block;
    font-weight:800;
    font-size: 18px;
    margin:77px 0 8px;
    color:rgba(51, 51, 51, 1);
    }

    p {
    font-weight: 400;
    font-size: 20px;
    color:rgba(51, 51, 51, 1);

    }

    img[alt='sink'] {
    height: 205px;
    }



    }
    }


}


// footer
.footer-article {
    margin-top: 132px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:175px;
    }

    img {
        display: none;
    }
}


.footer-list {
    display:flex;
    flex-direction: column;
    gap:10px;
    
    li {
    list-style: none;
    font-weight: 400;
    color: $last_color;
    font-size:$smallest-font;
    padding:0 8px;
}

    .footer-select {
        border:$primary_color;
        color:$secondary-color;
        width:170px;
        font-weight:700;
        font-size:$big-font;
        margin-bottom: 24px;
    }

    .last-opt {
        @extend .footer-select;
        width: 130px;
    }
}


.footer-main {
    background-color: rgba(236, 236, 236, 1);
    padding-top:133px;
}

.footer-main-wrapper {
    display: flex;
    justify-content: space-between;
    
    &__left {
    display: flex;
    gap:60px;
    
    :first-child {
    width: 151px;
    height: 60px; 
    }

    :last-child {
    width: 91px;
    height:57px;
    }
    }

    &__center {
        img {
        width: 238px;
        height: 39px;
        }
    }

    &__right {
    img {
    width: 238px;
    height: 82px;
    }    
    }
}

.footer-aside {
    margin: 30px 0;
}

.footer-aside-wrapper {
    display: flex;
    justify-content: space-between;
    &__left {
    font-weight:500;
    font-size:12px;
    color:$last_color;
    text-decoration: underline;
    }

    &__right {
    @extend .footer-aside-wrapper__left;    
    }
}