// colors
$primary_color:#ffffff;
$secondary-color: rgba(51, 51, 51, 1);
$last_color:rgba(102, 101, 101, 1);

// font-sizes
$smallest-font:16px;
$small-font:18px;
$middle-font:20px;
$big-font:24px;
$bigger-font:28px;
$biggest-font:48px;